*.py text eol=lf
*.sh text eol=lf
scripts/distribution/vlux-pos text eol=lf
packaging/ubuntu/debian/preinst text eol=lf
packaging/ubuntu/debian/postinst text eol=lf
packaging/ubuntu/debian/prerm text eol=lf
packaging/ubuntu/debian/postrm text eol=lf
packaging/ubuntu/systemd/*.service text eol=lf
packaging/cloud/Dockerfile text eol=lf
packaging/cloud/*.yaml text eol=lf
packaging/cloud/vlux-cloud text eol=lf
packaging/cloud/entrypoint.sh text eol=lf
packaging/cloud/**/*.yaml text eol=lf
*.tmpl text eol=lf
*.bat text eol=crlf
