[options]
admin_passwd = __VLUX_ADMIN_PASSWD__
db_host = __DB_HOST__
db_port = __DB_PORT__
db_user = __DB_USER__
db_password = __VLUX_DB_PASSWORD__
db_name = __DB_NAME__
db_maxconn = __DB_MAXCONN__
dbfilter = ^__DB_NAME__$
list_db = False
addons_path = /opt/vlux/pos/odoo/odoo/addons,/opt/vlux/pos/odoo/addons,/opt/vlux/pos/addons
data_dir = /var/lib/vlux-pos
logfile = /var/log/vlux-pos/odoo.log
log_level = info
logrotate = True
http_interface = 0.0.0.0
http_port = __HTTP_PORT__
gevent_port = __GEVENT_PORT__
proxy_mode = True
workers = __WORKERS__
max_cron_threads = __MAX_CRON_THREADS__
limit_memory_soft = __LIMIT_MEMORY_SOFT__
limit_memory_hard = __LIMIT_MEMORY_HARD__
limit_request = 8192
limit_time_cpu = 600
limit_time_real = 1200
limit_time_real_cron = 1800
without_demo = True
